.navbar{
    background-color:white !important;
}
body{
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}
.hak{
    background-color: aliceblue;
}
.card-img-top{
    width: 100%;
    height: 30vh;
}
.bilgi{
   font-size: 18px;
   background-color: whitesmoke;
   margin: 2px;
}
.resimslider{
    height: 600px;
    width: 100%;
}
.resim{
    text-align: center;
}
.ilbilgi{
    font-size: 18px;
}
.baslık{
    font-weight: bolder;
}
.arkaresim{
    background-image: url("https://static.daktilo.com/sites/756/uploads/2021/04/24/t.jpg");
    
    background-position: center;
    background-attachment: fixed;
    height: 600px;
}
.takımyazı{
    font-size: 18px;

}
.sol{
    float: left;
}
.sag{
    text-align: justify;
}